<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body class="font-sans antialiased scroll-smooth">
    <header>
        <nav>
            <a href="{{ site:url }}">{{ site:name }}</a>
            <a href="/introduction">Introduction</a>
        </nav>
    </header>
    <main id="swup" class="transition-fade">
        {{ template_content }}
    </main>
</body>
</html>